* {
	box-sizing: border-box;
}
html {
	font-family: monospace;
}
body {
	max-width: 80rem;
	padding: 1rem;
	margin: 0 auto;
}

.logout {
	display: flex;
	justify-content: flex-end;
}

.disabled {
	opacity: 0.2;
	transition: opacity 0.5s;
}
