<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">

		<title>edit - quizquiz</title>

		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="logout"><a href="/logout">logout</a></div>
		<h1>edit</h1>

		<h2 id="title"></h2>
		<div><img id="image" alt></div>
		<div id="questions"></div>
		<div><button id="add">add question</button></div>
		<p id="message"></p>
		<div><button id="reload">reload</button></div>

		<script>
			const title = document.getElementById("title");
			const image = document.getElementById("image");
			const questions = document.getElementById("questions");
			const message = document.getElementById("message");
			const add = document.getElementById("add");
			add.addEventListener("click", addQuestion);
			const reload = document.getElementById("reload");
			reload.addEventListener("click", loadQuiz);

			const quizId = "[[${id}]]";

			let quiz = null;
			let fetching = false;

			loadQuiz();

			function beginFetch() {
				if (fetching) return false;
				fetching = true;
				title.classList.add("disabled");
				questions.classList.add("disabled");
				reload.classList.add("disabled");
				return true;
			}

			function endFetch() {
				title.classList.remove("disabled");
				questions.classList.remove("disabled");
				reload.classList.remove("disabled");
				fetching = false;
			}

			function loadQuiz() {
				if (!beginFetch()) return;

				fetch(`/quiz/${quizId}?edit=true`)
					.then(res => res.json())
					.then(json => {
						if (json.ok) {
							if (!quiz) {
								quiz = json;

								fetch(`/quiz/${quizId}/qr`)
									.then(res => res.json())
									.then(json => {
										if (json.ok) {
											image.src = `data:image/png;base64,${json.qrCode}`;
										}
									});
							} else {
								quiz.title = json.title;
								quiz.quizId = json.quizId;

								const existing = quiz.questions
									.filter(question => {
										return json.questions.find(q => q.questionId === question.questionId);
									});
								const added = json.questions
									.filter(question => {
										return !quiz.questions.find(q => q.questionId === question.questionId);
									});

								quiz.questions = [...existing, ...added];
							}

							update();
						} else {
							message.textContent = json.message;
						}
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function editTitle() {
				if (!beginFetch()) return;

				const title = prompt("quiz title?", quiz.title);
				if (!title) return endFetch();

				fetch("/quiz", {
					method: "PUT",
					headers: {"content-type": "application/json"},
					body: JSON.stringify({
						quizId: quiz.quizId,
						title,
					}),
				})
					.then(res => res.json())
					.then(json => {
						quiz.title = json.title;
						update();
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function toggleQuizOpen() {
				if (!beginFetch()) return;

				fetch("/quiz", {
					method: "PUT",
					headers: {"content-type": "application/json"},
					body: JSON.stringify({
						quizId: quiz.quizId,
						open: !quiz.open,
					}),
				})
					.then(res => res.json())
					.then(json => {
						quiz.open = json.open;
						update();
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function toggleShuffle(questions, answers) {
				if (!beginFetch()) return;

				fetch("/quiz", {
					method: "PUT",
					headers: {"content-type": "application/json"},
					body: JSON.stringify({
						quizId: quiz.quizId,
						...(questions? {shuffleQuestions: !quiz.shuffleQuestions}: {}),
						...(answers? {shuffleAnswers: !quiz.shuffleAnswers}: {}),
					}),
				})
					.then(res => res.json())
					.then(json => {
						quiz.shuffleQuestions = json.shuffleQuestions;
						quiz.shuffleAnswers = json.shuffleAnswers;
						update();
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function addQuestion() {
				if (!beginFetch()) return;

				fetch("/question", {
					method: "POST",
					headers: {"content-type": "application/json"},
					body: JSON.stringify({quizId: quiz.quizId}),
				})
					.then(res => res.json())
					.then(json => {
						if (json.ok) {
							setTimeout(loadQuiz, 0);
						} else {
							message.textContent = json.message;
						}
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function editQuestion(question) {
				if (!beginFetch()) return;

				const text = prompt("question text?", question.text);
				if (!text) return endFetch();

				fetch("/question", {
					method: "PUT",
					headers: {"content-type": "application/json"},
					body: JSON.stringify({
						quizId: quiz.quizId,
						questionId: question.questionId,
						text,
					}),
				})
					.then(res => res.json())
					.then(json => {
						question.text = json.text;
						update();
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function editAnswer(question, answer) {
				if (!beginFetch()) return;

				const text = prompt("answer text?", answer.text);
				if (!text) return endFetch();

				fetch("/answer", {
					method: "PUT",
					headers: {"content-type": "application/json"},
					body: JSON.stringify({
						quizId: quiz.quizId,
						questionId: question.questionId,
						answerId: answer.answerId,
						text,
					}),
				})
					.then(res => res.json())
					.then(json => {
						answer.text = json.text;
						update();
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function toggleAnswerCorrect(question, answer) {
				if (!beginFetch()) return;

				fetch("/answer", {
					method: "PUT",
					headers: {"content-type": "application/json"},
					body: JSON.stringify({
						quizId: quiz.quizId,
						questionId: question.questionId,
						answerId: answer.answerId,
						correct: !answer.correct,
					}),
				})
					.then(res => res.json())
					.then(json => {
						answer.correct = json.correct;
						update();
					})
					.catch(() => message.textContent = "error!")
					.finally(endFetch);
			}

			function update() {
				if (!quiz) return;

				updateTitle();
				updateQuestions();
			}

			function updateTitle() {
				if (!quiz.span) {
					title.innerHTML = "";
					quiz.span = document.createElement("span");

					quiz.editButton = document.createElement("button");
					quiz.editButton.textContent = "edit";
					quiz.editButton.addEventListener("click", editTitle);

					quiz.openButton = document.createElement("button");
					quiz.openButton.addEventListener("click", toggleQuizOpen);

					quiz.shuffleQuestionsButton = document.createElement("button");
					quiz.shuffleQuestionsButton.addEventListener("click", event => toggleShuffle(true, false));

					quiz.shuffleAnswersButton = document.createElement("button");
					quiz.shuffleAnswersButton.addEventListener("click", event => toggleShuffle(false, true));

					title.appendChild(quiz.span);
					title.appendChild(quiz.editButton);
					title.appendChild(quiz.openButton);
					title.appendChild(quiz.shuffleQuestionsButton);
					title.appendChild(quiz.shuffleAnswersButton);
				}

				quiz.span.textContent = quiz.title;
				quiz.openButton.textContent = quiz.open? "opened": "closed";
				quiz.shuffleQuestionsButton.textContent = quiz.shuffleQuestions? "questions shuffled": "questions ordered";
				quiz.shuffleAnswersButton.textContent = quiz.shuffleAnswers? "answers shuffled": "answers ordered";
			}

			function updateQuestions() {
				if (!quiz.questions?.length) {
					questions.innerHTML = "";
					message.textContent = "no questions";
					return;
				}

				if (!quiz.ul) {
					questions.innerHTML = "";
					quiz.ul = document.createElement("ul");
					questions.appendChild(quiz.ul);
				}

				quiz.questions.forEach(question => updateQuestion(question));
			}

			function updateQuestion(question) {
				if (!question.item) {
					question.item = document.createElement("li");
					question.span = document.createElement("span");

					question.button = document.createElement("button");
					question.button.textContent = "edit";
					question.button.addEventListener("click", event => editQuestion(question));

					question.ul = document.createElement("ul");

					question.item.appendChild(question.span);
					question.item.appendChild(question.button);
					question.item.appendChild(question.ul);
					quiz.ul.appendChild(question.item);
				}

				question.span.textContent = question.text;

				question.answers.forEach(answer => updateAnswer(question, answer));
			}

			function updateAnswer(question, answer) {
				if (!answer.li || !answer.span) {
					answer.li = document.createElement("li");
					answer.span = document.createElement("span");

					answer.editButton = document.createElement("button");
					answer.editButton.textContent = "edit";
					answer.editButton.addEventListener("click", event => editAnswer(question, answer));

					answer.correctButton = document.createElement("button");
					answer.correctButton.addEventListener("click", event => toggleAnswerCorrect(question, answer));

					answer.li.appendChild(answer.span);
					answer.li.appendChild(answer.editButton);
					answer.li.appendChild(answer.correctButton);
					question.ul.appendChild(answer.li);
				}

				answer.span.textContent = `${answer.text} ${answer.correct? "(correct)": ""}`;
				answer.correctButton.textContent = answer.correct? "incorrect": "correct";
			}
		</script>
	</body>
</html>
